.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.profile-info {
  display: flex;
  flex-direction: column;
  background-color: #d7c2a7;
  padding: 5% 7%;
  margin-top: 5%;
  height: 78.2%;
}
.profile-info input{
  padding: 1% 2%;
  margin-bottom: 5%;
  font-size: 1.2rem;
  border: 1px solid sienna;
  background: oldlace;
}
*{margin:0;padding:0; box-sizing: border-box; font-family: 'Noticia Text', serif; }
html{font-size: 62.5%; font-family: 'Noticia Text', serif; }
#youOweMe {
  width: 45%;
  height: fit-content;
  background-color: #d7c2a7;
  padding: 10px;
  margin-bottom: 5vh;
}
#youOweMe input {
  font-size: 1.6rem;
  background-color: oldlace;
  border: 1px solid sienna;
}
#youOweMe input[type="date"] {
  font-size: 1.2rem;
  font-family: inherit;
}
#youOweMe input[type="submit"] {
  padding: 5% 0;
  align-self: flex-end;
  width: 70%;
  margin-top: 10%;
  align-self: center;
  border: none;
  border-radius: 10px;
  background-color: darkolivegreen;
  color: white;
}

#iOweYou {
  width: 45%;
  height: fit-content;
  background-color: #d7c2a7;
  padding: 10px;
  margin-bottom: 5vh;
}
.LoginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.LoginForm .LGbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  background: #6E588A;
  border: 1px solid orange;
}

.nav{
  background: oldlace;
}

body{ 
  height: 100vh;
  background: antiquewhite;
}
